---
apiVersion: v2
# renovate: datasource=github-releases depName=teslamate-org/teslamate
appVersion: 2.2.0
description: "A self-hosted data logger for your Tesla \U0001F698"
name: teslamate
version: 2.0.12
keywords:
  - teslamate
  - tesla
home: https://github.com/egeback/helm-charts/blob/main/charts/teslamate
icon: https://raw.githubusercontent.com/teslamate-org/teslamate/master/website/static/img/logo.svg
sources:
  - https://github.com/adriankumpf/teslamate
  - https://github.com/egeback/helm-charts/blob/main/charts/teslamate
dependencies:
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2
  - name: postgresql
    version: 18.2.4
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
maintainers:
  - name: egeback
    email: marky@egeback.se
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "Update application to 2.2.0"
