apiVersion: v2
# renovate: datasource=github-releases depName=jacobalberty/unifi-docker
appVersion: v10.0.162
description: Ubiquiti Network's Unifi Controller
name: unifi
version: 1.1.11
kubeVersion: ">=1.16.0-0"
keywords:
  - ubiquiti
  - unifi
home: https://github.com/egeback/charts/tree/master/charts/stable/unifi
icon: https://prd-www-cdn.ubnt.com/static/favicon-152.png
sources:
  - https://github.com/jacobalberty/unifi-docker
maintainers:
  - name: egeback
    email: marky@egeback.se
dependencies:
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2
  - name: mongodb
    version: 18.4.4
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "Updated to Unifi app version v10.0.162"
    - kind: changed
      description: "Update dependencies"
